HW3_Detailed_Placement/testcase/public3.def
HW3_Detailed_Placement/testcase/public4.def

HW3_Detailed_Placement/testcase/public3.lef
HW3_Detailed_Placement/testcase/public4.lef

HW3_Detailed_Placement/output/public3.def
HW3_Detailed_Placement/output/public4.def

